.wrapper {
    width: 232px;
    height: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 20px 0 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #4A4A4A;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.wrapper-item {
    height: 40px;
    width: 232px;
    margin-left: -20px;
    padding-top: 10px;
}

.wrapper-item:hover {
    background-color: #F1FCFF;
}

.wrapper-item:last-child {
    margin-bottom: 10px;
}

.name {
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.check {
    padding-left: 50px;
}

.check-input {
    appearance: none;
}

.check-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background:  url('../../assets/icons/Checkbox.svg') no-repeat;
    margin-left: -30px;
}

.check-input:checked + .check-box {
    background:  url('../../assets/icons/Checkbox_checked.svg') no-repeat;
}

.check-input:focus + .check-box {
    background-color: #F1FCFF;
    box-shadow: .5px .5px rgba(66, 147, 245, 1.0),
                -.5px -.5px rgba(66, 147, 245, 1.0);
    border-radius: 3px;
}